version: '3.4'

services:
  web:
    image: vikekh/www-server:latest
    build:
      context: .
      dockerfile: src/Vikekh.Www.Server/Dockerfile
    restart: always
    environment:
      VIRTUAL_HOST: vikekh.com,www.vikekh.com
      LETSENCRYPT_HOST: vikekh.com,www.vikekh.com

networks:
  default:
    external:
      name: nginx-proxy
