version: '3.4'

services:
  web:
    image: vikekh/www-server:latest
    build:
      context: .
      dockerfile: src/Vikekh.Www.Server/Dockerfile
    restart: always
    environment:
      VIRTUAL_HOST: www.vikekh.com.local

networks:
  default:
    external:
      name: nginx-proxy
