version: '3.4'

services:
  web:
    image: vikekh/www
    container_name: www-web
    build:
      context: .
      dockerfile: src/Vikekh.Www.Web/Dockerfile 
    restart: always
    ports:
      - "5000"
    environment:
      VIRTUAL_HOST: vikekh.com

networks:
  default:
    external:
      name: nginx-proxy
